# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore, LICENSE and *.go files
!.gitignore
!.dockerignore
!Dockerfile*
!LICENSE
!*.go
!*.yaml
!*.yml
!*.service
!.travis.yml
!Makefile
!README.md
!DEVELOPMENT.md

# Jsonnet mixin
!docs/
!*.jsonnet
!*.libsonnet
!docs/**/*.json

# Go modules
!go.mod
!go.sum

# GoReleaser
!.goreleaser.yaml
!.build/

# GitHub workflows
!.github/

# Project structure
!cmd/
!internal/
!contrib/

# Ignore built binaries and vendor
/bigip_exporter
vendor/
dist/
src
pkg
