name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - ".goreleaser.yaml"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".goreleaser.yaml"

jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.26.x"]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Tidy
        run: go mod tidy

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test ./... -v -coverprofile=coverage.txt -covermode=atomic

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.9.0
